@font-face {
  font-family: oswald;
  src: url(Oswald-Bold.ttf);
}

@font-face{
  font-family:staac;
  src:url(Staatliches-Regular.ttf);
}

.App {
  text-align:center;
  padding:30px 10px;
  background-color: black;
  color:#fff;
  overflow-x: hidden;
  font-family:staac;
}

.header li{
  list-style:none;
  float:right;
  margin-right:30px;
  margin-bottom:10px;
  font-size:20px;
  transition: all 0.5s ease;
}

.menu li:hover{
  color:#E49AD9;
  font-size: 25px;
  cursor: pointer;
}

.header1{
  clear: both;
  margin-top:0px;
  font-size: 160px;
  font-weight:1000;
  color:rgb(255, 255, 255);
  text-align:right;
  margin-right:-20px;
  font-family:oswald;
  line-height:180px;
  cursor: default;
  margin-bottom:180px;
}

.header2{
  margin-top:-210px;
  margin-left:-20px;
  font-size: 160px;
  font-weight: bold;
  color:rgb(255, 255, 255);
  margin-right:50%;
  text-align:left;
  font-family:oswald;
  cursor: default;
  margin-bottom:180px;
}

.one{
  color:#93E9BE;
}

.two{
  color:#DBFF00;
}

.third{
  color:#3C6BE4;
}

.four{
  color:#E49AD9;
}

.five{
  color:#FB710E;
}

.six{
  color:#006382;
}

.seven{
  color:#E0B417;
}

.discre{
  font-family:staac;
  margin-top:-200px;
  color:rgb(163, 54, 173);
  font-size:30px;
  text-align:right;
  margin-left:30%;
  width:70%;
}

.input{
  padding:30px;
  margin-top:100px;
}

.output{
  margin-top:40px;
  padding:20px;
}

#box{
  width:30%;
  font-size:20px;
  padding:10px;
  background-color: rgba(23, 64, 97, 0.336);
  color:#fff;
  border:none;
}

.infobox{
  display:flex;
  flex-direction: column;
}

.purple1{
  display:inline-block;
  width:40%;
  background-color: #212122;
  font-size: 40px;
  color:#E49AD9;
  font-weight: semi-bold;
  padding: 60px;
}

.purple2{
  display:inline-block;
  width:40%;
  background-color: #E49AD9;
  font-size: 40px;
  color:#212122;
  font-weight: semi-bold;
  padding: 60px;
}

.teal1{
  display:inline-block;
  width:40%;
  background-color: #93E9BE;
  font-size: 40px;
  color:#3C6BE4;
  font-weight: semi-bold;
  padding: 60px;
}

.teal2{
  display:inline-block;
  width:40%;
  background-color: #3C6BE4;
  font-size: 40px;
  color:#93E9BE;
  font-weight: semi-bold;
  padding: 60px;
}

.blue1{
  display:inline-block;
  width:40%;
  background-color: #006382;
  font-size: 40px;
  color:#DBFF00;
  font-weight: semi-bold;
  padding: 60px;
}

.blue2{
  display:inline-block;
  width:40%;
  background-color: #DBFF00;
  font-size: 40px;
  color:#006382;
  font-weight: semi-bold;
  padding: 60px;
}

.orange1{
  display:inline-block;
  width:40%;
  background-color: #212122;
  font-size: 40px;
  color:#FB710E;
  font-weight: semi-bold;
  padding: 60px;
}

.orange2{
  display:inline-block;
  width:40%;
  background-color: #FB710E;
  font-size: 40px;
  color:#212122;
  font-weight: semi-bold;
  padding: 60px;
}

.olive1{
  display:inline-block;
  width:40%;
  background-color: #4D6B5C;
  font-size: 40px;
  color:#BDFF00;
  font-weight: semi-bold;
  padding: 60px;
}

.olive2{
  display:inline-block;
  width:40%;
  background-color: #BDFF00;
  font-size: 40px;
  color:#4D6B5C;
  font-weight: semi-bold;
  padding: 60px;
}

.blue3{
  display:inline-block;
  width:40%;
  background-color: #160B44;
  font-size: 40px;
  color:#D19AE4;
  font-weight: semi-bold;
  padding: 60px;
}

.blue4{
  display:inline-block;
  width:40%;
  background-color: #D19AE4;
  font-size: 40px;
  color:#160B44;
  font-weight: semi-bold;
  padding: 60px;
}

.white{
  text-align:right;
  margin-bottom:-20px;
  margin-right:-10px;
  color:#fff;
  font-size:20px;
}



